version: '3.8'
services:
  node-app:
    build: .
    ports:
      - "3000:3000" # Project 2 cháº¡y port 3000
    depends_on:
      - mongo
  
  mongo:
    image: mongo:6.0
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data: